.tweet {
    border: 3px solid black;
    border-radius: 5px;
    margin-bottom: 1em;
    width: 850px;
    padding: 1em;
}

.tweet-wrapper {
    display: flex;
    justify-content: space-between;
}

.tweet-text {
    margin-left: 1em;
    align-self: center;
}

.tweet-username {
    color: green;
    font-weight: bolder;
    text-decoration: none;
}

.tweet-date {
    color: black;
    font-weight: normal;
}

.tweet-link-delete {
    border: none;
    background: none;
    color: red;
    font-weight: bolder;
}

.tweet-link-edit {
    text-decoration: none;
    color: rgb(183, 166, 65);
    font-weight: bolder;
    margin-right: 0.5em;
}

.textarea {
    width: 400px;
    height: 75px;
    padding: 0.5em;
}

.tweet-post {
    display: flex;
    margin-bottom: 1.5em;
}

.tweet-btn {
    margin-left: 2em;
    align-self: flex-end;
    border: none;
    border: none;
    border-radius: 5px;
    padding: 0.5em 2.5em;
    background-color: rgb(104, 181, 204);
    font-weight: bold;
}

.btn-wrapper {
    display: flex;
}

.tweet-buttons {
    margin-top: 2em;
}

.edit-and-delete {
    display: flex;
    justify-content: flex-end;
}